<div id="wrapper">
  <div class ="logo"><img class = "bounceIn" src="../assets/img/logo.jpg" alt="Logo de la aplicacion"></div>
  <div class="entrada">
    <div class="login">
      <div class="login-text"><h1>Log in</h1></div>
      <div class="button">
        <button class="btn btn-default" (click)="donador()">Soy Donador</button>
      </div> <br><br><br><br>
      <div class="signup">
        <button onclick="document.getElementById('id01').style.display='block'">Administrar Centro de Acopio</button>
        <div id="id01" class="modal">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Cerrar">&times;</span>
          <form class="modal-content animate">
            <div class="container">
              <label><b>Usuario</b></label>
              <input type="text" placeholder="Usuario" name="user" required>
              <label><b>Contraseña</b></label>
              <input type="password" placeholder="Contraseña" name="password" required>
              <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
                <button type="submit" class="loginbtn" (click) = "administrarCentro()">Entrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="button">
        <button class="btn btn-default fakebtn" (click) = "crearCentro()">Crear Centro de Acopio</button>
      </div>
    </div>
  </div>
</div>
