#wrapper{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

body{
    margin: 0;
    background-color: #ff9933;
    background-repeat:repeat-y;
    background-position:center;
    background-size: 220%;
    font-family: "Raleway";
}

.entrada{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    height: 300px;
    width:300px;
    position: relative;
    top:3%;
    .login-text{
    position: relative;
    left: 25%;
        h1{
            font-size: 50px;
            font-family: 'Work Sans';
        }
    }
}
.signup {
    width: 208px;
    height: 3em;
    position: relative;
    top: -24%;
    margin-left: 15%;
}
.username{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 94px;
}

.password{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

input[type=submit],[type=text],[type=password] {
    width: 208px;
    height: 3em;
}

.logo{
    margin: auto;
    left: 45.4%;
    top: 10%;

    img{
        margin: auto;
        display: block;
        width:200px;
        height: 20  0px;
    }
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button, fakebtn{
    display: flex;
    color: #000;
    margin-top: 25px;
    width: 208px;
    height: 4em;
    padding: 10px 20px;


    border: 1px solid ;

    align-items: center;
    justify-content: center;
}
.fakebtn{
    width: 208px;
    height: 3em;

}

/* Extra styles for the cancel button */
.cancelbtn {
    /* padding: 14px 20px;
    background-color: #f44336;*/
    display: flex;

    margin-top: 25px;
    width: 140;
    padding: 10px 20px;


    border: 1px solid ;

    align-items: center;
    justify-content: center;
    background-color: #D73639;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.loginbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(250,255,240); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(224,255,250);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
