
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navlink" routerLink="/about-us" routerLinkActive="active">Fenix</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navlink" routerLink="/ver-centros-mapa" routerLinkActive="active">Mapa</a>
      </li>
      <li class="nav-item">
        <a class="navlink" routerLink="/sign-in" routerLinkActive="active">Salir</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Delegacion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Álvaro Obregón</a>
          <a class="dropdown-item" href="#">Azcapotzalco</a>
          <a class="dropdown-item" href="#">Benito Juárez</a>
          <a class="dropdown-item" href="#">Coyoacán</a>
          <a class="dropdown-item" href="#">Cuajimalpa</a>
          <a class="dropdown-item" href="#">Cuauhtémoc</a>
          <a class="dropdown-item" href="#">Gustavo A. Madero</a>
          <a class="dropdown-item" href="#">Iztacalco</a>
          <a class="dropdown-item" href="#">Magdalena Contreras</a>
          <a class="dropdown-item" href="#">Miguel Hidalgo</a>
          <a class="dropdown-item" href="#">Milpa Alta</a>
          <a class="dropdown-item" href="#">Tláhuac</a>
          <a class="dropdown-item" href="#">Tlalpan</a>
          <a class="dropdown-item" href="#">Venustiano Carranza</a>
          <a class="dropdown-item" href="#">Xochimilco</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Centro" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)= "verCentroAcopio()" type="submit">Buscar</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="crearCentro()"> <span class="glyphicon glyphicon-user"></span> Registrar Centro</a></li>
      <li><a onclick="document.getElementById('id01').style.display='block'"><span class=""></span> Entrar</a></li>
      <!--div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Cerrar">&times;</span>
      <form class="modal-content animate">
      <div class="container">
      <label><b>Usuario</b></label>
      <input type="text" placeholder="Usuario" name="user" required>
      <label><b>Contraseña</b></label>
      <input type="password" placeholder="Contraseña" name="password" required>
      <div class="clearfix">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
      <button type="submit" class="loginbtn" (click) = "administrarCentro()">Entrar</button>
    </div>
  </div>
</form>
</div-->
</ul>
</div>
</nav>
