@import "bootstrap";

nav{
  background-color: #FFF;
  .navlink{
    @extend .nav-link;
    color: black;
  }
}
#wrapper{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
.logo{
    margin: auto;
    left: 45.4%;
    top: 10%;

    img{
        margin: 10% auto 0 auto;
        display: block;
        width:200px;
        height: 20  0px;
    }
}
h1{
    position: relative;
    top: 0;
    font-size: 70px;
    display: block;
    margin: auto 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab';
}
.aboutus2{
    display: block;
    justify-content: center;
    text-align:center;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    height: 50px;
    padding: inherit;
    width: 100%;
    position: relative;
    top: 30px;
    bottom: 30px;
    margin-bottom:1em;

    b{
        font-weight: 600;
    }
}
.cancelbtn {
    margin-top: 0;
    width: 140px;
    padding: 3px 9px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    background-color: #D73600;
}
.loginbtn{
    margin-top: 0;
    width: 140px;
    padding: 3px 9px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    background-color: #01DF4F;
}
#ubicacion-navbar{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
