#seccionCarrusel{
  width: 100%;
  img{
    display: block;
    margin: auto;
  }
}
  h1,h2{
      font-family: 'Work Sans';
      text-align: center;
  }
#productosCentro{
  width: 40%;
  background-color: #FFAA44;
  margin: 2em auto;
  ul{
    display: block;
    margin: auto;
  }
  text-align: center;
}
#irADireccion{
  width: 100%;
  text-align: center;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
}
.carousel-item img{
    width: 50%;
    height: 50%;
    margin: 10% auto 0 auto;
    display: block;
}
