<h1>Centro de acopio de Acoxpa</h1>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/CentroDeAcopio.PNG" alt="Vista de centro de acopio">
      <div class="carousel-caption">
        <h3>Centro de acopio</h3>
        <p>Gente ayudando</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/centroAcopio2.jpg" alt="Centro de acopio 2">
      <div class="carousel-caption">
        <h3>Centro de acopio</h3>
        <p>Se ve el apoyo</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/centroAcopio3.jpg" alt="Centro de acopio 3" >
      <div class="carousel-caption">
        <h3>Centro de acopio</h3>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/centroAcopio4.jpg" alt="Centro de acopio 4">
      <div class="carousel-caption">
        <h3>Centro de acopio</h3>
        <p></p>
      </div>
    </div>
  </div>
  <!--a class="carousel-control-prev" href = "#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href = "#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a-->
</div>
<div id="productosCentro"><h2>Nombre: {{nombreCentro}}</h2>
  <p>Apoyo Requerido</p>
  <!--ul>
    <li>Enlatados: Mucho</li>
    <li>Agua: Poco</li>
    <li>Vendas: Urgente</li>
    <li>Medicamentos: {{medicamento}} : {{cantidad}} Mucho</li>
    <li>Medicos Voluntarios: Muchos</li>
  </ul-->
</div>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
<div id="irADireccion"><h2>Direcciones</h2>
  <button type="submit">Ir</button>
</div>
