<div class="wrapper">
     <div class="header">
        <div class="bounceIn logo">
            <img src="../assets/img/logo.jpg" alt="Logo de la aplicación">
        </div>
    </div>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content animate" action="#">
            <div class="container">
                <label><b>Usuario</b></label>
                <input type="text" placeholder="Usuario" name="user" required>
                <label><b>Contraseña</b></label>
                <input type="password" placeholder="Contraseña" name="password" required>
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
                    <button type="submit" class="loginbtn">Entrar</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <h1>Sobre Fénix</h1>
    </div>
    <br><br>
     <div class= "aboutus2">
         <p>Nuestra aplicación te permite ver en tiempo real y de forma interactiva las necesidades de los centro de acopio, así como permite a los centros de acopio actualizar sus necesidades y la cantidad de víveres con los que cuentan en tiempo real para facilitar a la gente a hacer la mejor decisión para sus donaciones, ya sea por escasez de recursos o por proximidad.
         La meta de esta aplicación es lograr una mejor organización para la población en respuesta a algún tipo de desastre.</p>
         <p><b>#FuerzaMexico</b></p>
    </div>
</div>
