<h1 id="titulo">Crear Centro</h1>
<section id="info" class="formSection"><h2>Datos personales</h2>
  <form id="infoForm">
    <p>Nombre y Apellidos del Administrador*<input type="text" required></p>
    <p>Correo* <input type="text" required></p>
    <p>Direccion* <input type="text" required></p>
    <p>Telefono* <input type="text" required></p>
    <p>Nombre del Centro de Acopio* <input type="text" required></p>
  </form>
</section>
<section id="Productos" class="formSection"><h2>Materiales solicitados</h2>
  <form id="productosForm">
    <p>Vendas <input type="checkbox"></p>
    <p>Medicinas <input type="checkbox"></p>
    <p>Agua <input type="checkbox"></p>
    <p>Enlatados <input type="checkbox"></p>
  </form>
</section>
<section id="Fotos" class="formSection"><h2>Fotos</h2>
  <form id="fotosForm">
    <p>Ingrese imagenes del Centro de Acopio</p>
    <p><input type="file"></p>
  </form>
</section>
<div class="container-fluid p-0">
  <h4 class="mt-4">Verifica que la posición del centro de acopio esté correcta</h4>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingresa tu dirección">
  </div>
  <iframe class="map" src="https://www.google.com/maps/embed" allowfullscreen></iframe>
</div>
<div id="submitButton">
  <!-- El boton debe llamar una funcion en Javascript que encuentre y mande las forms de arriba -->
  <button type="submit"> Crear Centro de Acopio </button>
</div>
<div id="snackbar">
  Se ha creado correctamente
</div>
<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
