
p{
  font-family: Raleway;
    input{
        color: #000;
    }
}
h1{
  font-family: work sans;
}
  h2{
      font-family: 'Work Sans';
      text-align: center;
  }
#titulo{
  text-align: center;
}
button{
  margin: auto;
  color: #000;
  text-align: center;
}
.formSection{
  width: 90%;
  margin: auto;
  background-color: #FFAA44;
  form{
    text-align: center;
  }
}
#submitButton{
  text-align: center;
}
iframe{
  border: 0;
  width: 100%;
  height: 50vh;
  border-style: none;
}
#ubicacion{
    margin-right: 5px;
}
#ubicacion-navbar{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.cancelbtn {
    margin-top: 0;
    width: 140px;
    padding: 3px 9px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    background-color: #D73600;
}
.loginbtn{
    margin-top: 0;
    width: 140px;
    padding: 3px 9px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    background-color: #01DF4F;
}
