<h1 id="titulo">Actualizar Centro</h1>
<section id="Info" class="formSection"><h2>Datos personales</h2>
  <form id="infoForm">
    <!-- Si esta informacion cambia se debe poner algun aviso
    en el perfil del centro -->
    <p>Nombre y Apellidos del Administrador<input type="text" required></p>
    <p>Correo <input type="text" required></p>
    <p>Direccion <input type="text" required></p>
    <p>Telefono <input type="text" required></p>
    <p>Nombre del Centro de Acopio <input type="text" required></p>
  </form>
</section>
<section id="Productos" class="formSection"><h2>Materiales solicitados</h2>
  <form id="productosForm">
    <p>Vendas <input type="checkbox"></p>
    <p>Medicinas <input type="checkbox"></p>
    <p>Agua <input type="checkbox"></p>
    <p>Enlatados <input type="checkbox"></p>
  </form>
</section>
<section id="Fotos" class="formSection"><h2>Fotos</h2>
  <form id="fotosForm">
    <p>Ingrese imagenes del Centro de Acopio</p>
    <p><input type="file"></p>
  </form>
</section>
<div id="submitButton">
  <!-- El boton debe llamar una funcion en Javascript que encuentre y mande las forms de arriba -->
  <button type="submit"> Actualizar Centro de Acopio </button>
</div>
<div id="snackbar">
  Se ha actualizado correctamente
</div>
