p{
  font-family: Raleway;
    input{
        color: #000;
    }
}
h1{
  font-family: work sans;
}
  h2{
      font-family: 'Work Sans';
      text-align: center;
  }
#titulo{
  text-align: center;
}
button{
  margin: auto;
  color: #000;
  text-align: center;
}
.formSection{
  width: 90%;
  margin: auto;
  background-color: #FFAA44;
  form{
    text-align: center;
  }
}
#submitButton{
  text-align: center;
}
