html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #ff9933 !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #fff !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto !important;
    max-width: 100%;
    padding: 2em 2em 4em;
    //height: 100vh;
}
iframe{
  border: 0;
  width: 100%;
  height: 50vh;
  border-style: none;
}
#ubicacion{
    margin-right: 5px;
}
#ubicacion-navbar{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.cancelbtn {
    margin-top: 0;
    width: 140px;
    padding: 3px 9px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    background-color: #D73600;
}
.loginbtn{
    margin-top: 0;
    width: 140px;
    padding: 3px 9px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    background-color: #01DF4F;
}
