
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content animate">
    <div class="container">
      <label><b>Usuario</b></label>
      <input type="text" placeholder="Usuario" name="user" required>
      <label><b>Contraseña</b></label>
      <input type="password" placeholder="Contraseña" name="password" required>
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
        <button type="submit" class="loginbtn">Entrar</button>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid p-0">
  <h4 class="mt-4">Busca el centro de acopio del que quieres revisar su informacion</h4>
  <div class="input-group mb-3 mt-4">
    <div class="dropdown">
      <select name="ubicacion" id="ubicacion" class="form-control">
        <option value="" selected="">Delegación</option>
        <option value="Alvaro Obregon">Álvaro Obregón</option>
        <option value="Azcapotzalco">Azcapotzalco</option>
        <option value="Benito Juarez">Benito Juárez</option>
        <option value="Coyoacan">Coyoacán</option>
        <option value="Cuajimalpa">Cuajimalpa</option>
        <option value="Cuauhtemoc">Cuauhtémoc</option>
        <option value="Gustavo A Madero">Gustavo A. Madero</option>
        <option value="Iztacalco">Iztacalco</option>
        <option value="Magdalena Contreras">Magdalena Contreras</option>
        <option value="Miguel Hidalgo">Miguel Hidalgo</option>
        <option value="Milpa Alta">Milpa Alta</option>
        <option value="Tlahuac">Tláhuac</option>
        <option value="Tlalpan">Tlalpan</option>
        <option value="Venustiano Carranza">Venustiano Carranza</option>
        <option value="Xochimilco">Xochimilco</option>
      </select>
    </div>
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Centro" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="verCentroAcopio()"type="submit">Buscar</button>
  </div>
  <iframe class="map" src="https://www.google.com/maps/embed" allowfullscreen></iframe>
</div>
